
DATABASE_URL=""
SHADOW_DATABASE_URL=""
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_USERNAME=''
REDIS_PASSWORD=''
REDIS_TLS=false
REDIS_TLS_REJECT_UNAUTHORIZED=true
PORT=4000
MIXPANEL_TOKEN=''
FOREX_API_KEY=""
JWT_SECRET=""
JWT_EXPIRES="3600s"
JWT_REFRESH_SECRET=""
JWT_REFRESH_EXPIRES="7d"
PRISMA_POSTRES_ZENLOT_DB = ""
